<!--
    In the future we may re-org some things under an options menu
<div style="float: right">
<iron-icon icon="menu"></iron-icon>
</div>
-->

<h3 style="font-family: Muli; background-color: #eee;">
    {{title}}
    <b>
        <span  style="color: red;"   >R</span
        ><span style="color: orange;">A</span
        ><span style="color: gold;"  >I</span
        ><span style="color: green;" >N</span
        ><span style="color: blue;"  >B</span
        ><span style="color: indigo;">O</span
        ><span style="color: violet;">W</span>
    </b>
    Words
</h3>

<!--
    <ul>
        <li>Randomize</li>
        <li>Hide Color</li>
        <li>Repeat</li>
    </ul>
  -->

<div class="pleaseWait" [hidden]="words">
    (please wait, loading your words...)
</div>

<table width="100%" [hidden]="!words">
    <tr>
        <td colspan="4">
            <table [hidden]="optionHideColor" width="100%" style="width: 100%">
                <tr *ngIf="wordGroups">
                    <td *ngFor="#wg of wordGroups.wordGroups|activeWordGroup, #wgIndex=index"
                            width="1*"
                            [style.backgroundColor]="wg.color"
                            [style.height.px]="30"
                            [class.colorGroup]="currentColor!=wg.color"
                            [class.colorGroupSelected]="currentColor==wg.color"
                            (click)="onColorClick(wgIndex)">&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="4" width="100%" class="theWordCell"
                [style.backgroundColor]="optionHideColor ? '' : currentColor">
            <h1 class="theWord">{{currentWord}}</h1>
        </td>
    </tr>
    <tr>
        <td colspan="1" class="buttonCell prevButtonCell">
            <paper-button raised (click)="onPrev()" [disabled]="!hasPrev">
                <iron-icon icon="icons:arrow-back"></iron-icon>
            </paper-button>
        </td>
        <td colspan="1" class="buttonCell hearButtonCell">
            <paper-button raised (click)="onHear()" [disabled]="!currentWord">
                <iron-icon icon="av:hearing"></iron-icon>
            </paper-button>
        </td>
        <td colspan="1" class="buttonCell talkButtonCell">
            <paper-button raised (click)="onTalk()" [disabled]="currentWord">
                <iron-icon icon="av:mic"></iron-icon>
            </paper-button>
        </td>
        <td colspan="1" class="buttonCell nextButtonCell">
            <paper-button raised (click)="onNext()" [disabled]="!hasNext">
                <iron-icon icon="icons:arrow-forward"></iron-icon>
            </paper-button>
        </td>
    </tr>
    <tr>
        <td colspan="1" class="buttonCell">
            <paper-button raised (click)="onFirst()" [disabled]="!hasPrev">
                <iron-icon icon="av:skip-previous"></iron-icon>
            </paper-button>
        </td>
        <td colspan="1" class="buttonCell">
            <paper-button raised (click)="onPrevColor()" [disabled]="!hasPrev">
                <iron-icon icon="av:fast-rewind"></iron-icon>
            </paper-button>
        </td>
        <td colspan="1" class="buttonCell">
            <paper-button raised (click)="onNextColor()" [disabled]="!hasNext">
                <iron-icon icon="av:fast-forward"></iron-icon>
            </paper-button>
        </td>
        <td colspan="1" class="buttonCell">
            <paper-button raised (click)="onLast()" [disabled]="!hasNext">
                <iron-icon icon="av:skip-next"></iron-icon>
            </paper-button>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center; padding: 15px;">
            <paper-checkbox [checked]="optionHideColor"
                    (click)="optionHideColor=!optionHideColor">Hide Color</paper-checkbox>
        </td>
        <td colspan="2" style="text-align: center; padding: 15px;">
            <paper-checkbox [checked]="optionRandomize"
                    (click)="reloadGroupedWords(!optionRandomize)">Randomize</paper-checkbox>
        </td>
    </tr>

<!--
        <script>
            var msg = new SpeechSynthesisUtterance();
            var voices = window.speechSynthesis.getVoices();
            msg.voice = voices[10]; // Note: some voices don't support altering params
            msg.voiceURI = 'native';
            msg.volume = 1; // 0 to 1
            msg.rate = 1; // 0.1 to 10
            msg.pitch = 2; //0 to 2
            msg.text = 'Hello World';
            msg.lang = 'en-US';

            msg.onend = function(e) {
            console.log('Finished in ' + event.elapsedTime + ' seconds.');
            };

            speechSynthesis.speak(msg);
        </script>
-->
</table>

<!-- FOR DEBUGGING VOICES
<div>
    <div>Voices:  {{voices}}</div>
    <ul>
        <li *ngFor="#v of voices">
            Voice: default={{v.default}}; lang={{v.lang}}; name={{v.name}}; voiceURI={{v.voiceURI}}
        </li>
    </ul>
</div>
-->
